<!doctype html>
<html>
 <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="网站描述" />
    <title>Kunpeng-留学申请</title>
    <!-- Load Normalize.css -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.min.css" >
    <link rel="stylesheet" type="text/css" href="/css/common.css" >
    <link rel="stylesheet" type="text/css" href="/css/application.css" >
    <link rel="stylesheet" type="text/css" href="/css/swiper-3.4.2.min.css" >
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" >
    <style type="text/css">
	    .company-list,.school-list,.project-list{
	    	margin-top: 50px;
	    }
		.company-list a,.school-list a,.project-list a{
			display: block;
			width: 100%;
			height: 100px;
			border: 1px solid #ddd;
			margin-bottom: 10px;
			padding: 10px;
			border-radius: 5px;
		}
		.company-list .item:nth-of-type(1) a{
			background: url('/images/application/0.png') center no-repeat;
			background-size: contain;
		}
		.company-list .item:nth-of-type(2) a{
			background: url('/images/application/1.png') center no-repeat;
			background-size: contain;
		}
		.company-list .item:nth-of-type(3) a{
			background: url('/images/application/2.png') center no-repeat;
			background-size: contain;
		}
		.company-list .item:nth-of-type(4) a{
			background: url('/images/application/3.png') center no-repeat;
			background-size: contain;
		}
		.company-list .item:nth-of-type(5) a{
			background: url('/images/application/4.png') center no-repeat;
			background-size: contain;
		}
		.company-list .item:nth-of-type(6) a{
			background: url('/images/application/5.png') center no-repeat;
			background-size: contain;
		}
		.company-list .item:nth-of-type(7) a{
			background: url('/images/application/6.png') center no-repeat;
			background-size: contain;
		}
		.company-list .item:nth-of-type(8) a{
			background: url('/images/application/7.png') center no-repeat;
			background-size: contain;
		}
		.company-list .item:nth-of-type(9) a{
			background: url('/images/application/8.png') center no-repeat;
			background-size: contain;
		}
		.company-list .item:nth-of-type(10) a{
			background: url('/images/application/9.png') center no-repeat;
			background-size: contain;
		}
		.company-list .item:nth-of-type(11) a{
			background: url('/images/application/10.png') center no-repeat;
			background-size: contain;
		}
		.company-list .item:nth-of-type(12) a{
			background: url('/images/application/11.png') center no-repeat;
			background-size: contain;
		}
		.company-list .item:nth-of-type(13) a{
			background: url('/images/application/12.png') center no-repeat;
			background-size: contain;
		}
		.company-list .item:nth-of-type(14) a{
			background: url('/images/application/13.png') center no-repeat;
			background-size: contain;
		}
		.school-list .item:nth-of-type(1) a{
			background: url('/images/application/11.png') center no-repeat;
			background-size: contain;
		}
		.school-list .item:nth-of-type(2) a{
			background: url('/images/application/12.png') center no-repeat;
			background-size: contain;
		}
		.school-list .item:nth-of-type(3) a{
			background: url('/images/application/13.png') center no-repeat;
			background-size: contain;
		}
		.school-list .item:nth-of-type(4) a{
			background: url('/images/application/14.png') center no-repeat;
			background-size: contain;
		}
		.project-list .item:nth-of-type(1) a{
			background: url('/images/application/15.png') center no-repeat;
			background-size: contain;
		}
		.project-list .item:nth-of-type(2) a{
			background: url('/images/application/16.png') center no-repeat;
			background-size: contain;
		}
		.project-list .item:nth-of-type(3) a{
			background: url('/images/application/17.png') center no-repeat;
			background-size: contain;
		}
    </style>
</head>
<body>
    
    <%include nav%>
	<div id="wrapper">
		<div class="banner">
			<img src="/images/application/banner.jpg" />
		</div>
		<div class="apply_languageSchool">
			<div class="line"></div>
			<div class="container">
				<div class="header">
					<h2><img width="45" style="margin-right: 10px;margin-bottom: 4px;" src="/images/application/title_1.png" />语言学校申请</h2>
					<p>我们与西班牙塞万提斯认证的语言学校及隶属各大学下得语言学校建立合作关系，可为学生申请全西班牙境内的语言学校。既面向国内要申请西班牙语言学校的学生，也面向身在西班牙想提高西语水平的留学生。 申请的就读期限可从一个月到一年不等。 课程包括课程包括短期提高班，DELE 预备班，西班牙语零基础班， 商务西语，西语教学，西班牙夏令营，冬令营，游学等。并且根据不同的学校的情况，在我们公司报名申请语言学校还可以享受优惠服务，比如学费折扣优惠服务。</p>
				</div>
				<div class="step-wrapper">
					<h3><img src="/images/application/icon-commit.svg" /></h3>
					<h4>申请步骤</h4>
					<div class="list">
						<div class="item">
							<span class="index">1</span>
							<div class="text">
								<span>国内或西班牙境内由专业老师进行选择指导语言学校</span>
							</div>
						</div>
						<div class="item">
							<span class="index">2</span>
							<div class="text">
								<span>帮助填写语言申请表，并进行语言学校注册</span>
							</div>
						</div>
						<div class="item">
							<span class="index">3</span>
							<div class="text">
								<span>协助汇款以及跟踪汇款</span>
							</div>
						</div>
						<div class="item">
							<span class="index">4</span>
							<div class="text">
								<span>邮寄录取通知书</span>
							</div>
						</div>
						<div class="item">
							<span class="index">5</span>
							<div class="text">
								<span>准备签证</span>
							</div>
						</div>
						<div class="item">
							<span class="index">6</span>
							<div class="text">
								<span>入境以后，安排入学语言测试</span>
							</div>
						</div>
						<div class="item">
							<span class="index">7</span>
							<div class="text">
								<span>学校陪同完成注册</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="apply_undergraduate_has">
			<div class="line"></div>
			<div class="container">
				<div class="header">
					<h2><img width="45" style="margin-right: 10px;margin-bottom: 4px;" src="/images/application/title_2.png" />西班牙本科申请（有高考成绩）</h2>
					<p>
						2007年，中国与西西班牙育部签署学历互认协议书，首次实现两国从高中毕业一直到博士学位的学历对等互认。现有120多所为公立大学和私立大学同时被西班牙政府及中国政府承认。<br/>
						根据西班牙法令2006年5月3日出台的2号法律文件，来自于同一欧盟学术范围内的学生或其他的已签订双向协议国家的学生，无需参加西班牙境内高考（Prueba de Acceso a la Universidad ), 只需出示相关教育系统的文件即可申请西班牙境内任意一所大学。<br/>
						目前西班牙鲲鹏国际教育咨询公司目前与西班牙各大公立私立大学合作，同时作为中西高等教育发展协会&西班牙高等教育入学咨询申请中心（非营利性机构）指定合作机构，我们在申请西班牙本科学校有着十分充足的经验，每年为至少500名外国学生申请自己满意的院校，申请成功率达到百分之100。
					</p>
				</div>
				<div class="step-wrapper">
					<h3><img src="/images/application/icon-commit.svg" /></h3>
					<h4>所需材料</h4>
					<div class="list">
						<div class="item">
							<span class="index">1</span>
							<div class="text">
								<span>国内高中三年平时成绩，国内高考成绩，高中毕业证，以上三份资料均需翻译成西班牙语并在国内做公正及双认证</span>
							</div>
						</div>
						<div class="item">
							<span class="index">2</span>
							<div class="text">
								<span>需要中国塞万提斯学院颁发的A2水平证书或指定语言中心500课时语言证明</span>
							</div>
						</div>
						<div class="item">
							<span class="index">3</span>
							<div class="text">
								<span>国内高考成绩最低标准为337.5，其分数需要去马德里远程大学系统换算成西班牙高考成绩（简称UNED学分转换）</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="apply_undergraduate_none">
			<div class="line"></div>
			<div class="container">
				<div class="header">
					<h2><img width="45" style="margin-right: 10px;margin-bottom: 4px;" src="/images/application/title_3.png" />西班牙本科申请（免高考成绩）</h2>
					<p>
						根据2016年西班牙高考制度改革意见和方法提出对于西班牙各个自治区享有充分高等教育自主权利，目前其他西班牙自治区开始进行自主招生项目，西班牙鲲鹏教育国际咨询公司联合中西高等教育发展协会&西班牙高等教育入学咨询申请中心（非营利性机构）以及西班牙部分大学开始进行联合自主招生，在中国无需参加高考，直接在西班牙大学上课。
					</p>
				</div>
				<div class="step-wrapper">
					<h3><img src="/images/application/icon-commit.svg" /></h3>
					<h4>所需材料</h4>
					<div class="list">
						<div class="item">
							<span class="index">1</span>
							<div class="text">
								<span>国内高中三年平时成绩，国内高考成绩，高中毕业证，以上三份资料均需翻译成西班牙语并在国内做公正及双认证</span>
							</div>
						</div>
						<div class="item">
							<span class="index">2</span>
							<div class="text">
								<span>需要中国塞万提斯学院颁发的A2水平证书或指定语言中心500课时语言证明</span>
							</div>
						</div>
						<div class="item">
							<span class="index">3</span>
							<div class="text">
								<span>国内高中三年平时成绩，国内高考成绩，高中毕业证，以上三份资料均需递交给西班牙教育部进行第二次认证，认证结束以后可以申请到指定大学</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="apply_master">
			<div class="line"></div>
			<div class="container">
				<div class="header">
					<h2><img width="45" style="margin-right: 10px;margin-bottom: 4px;" src="/images/application/title_4.png" />西班牙官方硕士申请</h2>
					<p>
						硕士申请和本科申请不同，每个高校拥有自己独立的申请系统和录取标准。大部分公立和私立大学的申请的形式都是通过登录各个大学的官方通道，进行线上提交材料， 除了公立大学中的萨拉曼卡大学UNIVERSIDAD DE SALAMANCA要求亲自将材料递交或者邮寄到办公室，以及部分私立大学的申请过程需要直接联系负责人。整个准备材料，专业申请到录取注册的过程耗时耗力，因此需要充分的耐心和细致，避免信息错误。准备材料是重中之重，根据学校和专业的要求变化，材料清单也会有较为细微的差异，需要以官方最终发布的内容为标准。申请提交之后也要做好可能收到面试通知的准备。西班牙鲲鹏教育国际咨询公司与西班牙部分高校建立了长久的合作关系，为学生建立最全咨询咨询通道，方便学生申请。
					</p>
				</div>
				<div class="step-wrapper">
					<h3><img src="/images/application/icon-commit.svg" /></h3>
					<h4>所需材料</h4>
					<div class="list">
						<div class="item">
							<span class="index">1</span>
							<div class="text">
								<span>审核材料</span>
							</div>
						</div>
						<div class="item">
							<span class="index">2</span>
							<div class="text">
								<span>就读专业指导</span>
							</div>
						</div>
						<div class="item">
							<span class="index">3</span>
							<div class="text">
								<span>选择就读学校以及专业</span>
							</div>
						</div>
						<div class="item">
							<span class="index">4</span>
							<div class="text">
								<span>指导文书写作包括简历，动机信以及老师推荐信</span>
							</div>
						</div>
						<div class="item">
							<span class="index">5</span>
							<div class="text">
								<span>递交学校所需材料</span>
							</div>
						</div>
						<div class="item">
							<span class="index">6</span>
							<div class="text">
								<span>等待审核录取</span>
							</div>
						</div>
						<div class="item">
							<span class="index">7</span>
							<div class="text">
								<span>辅导学生全程西语面试</span>
							</div>
						</div>
						<div class="item">
							<span class="index">8</span>
							<div class="text">
								<span>学校注册，协助学生安排课表</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="divider_box"></div>
		<div class="cooperation_project">
			<div class="container">
				<div class="head">
		    		<h3 class="title"><img width="45" style="margin-right: 10px;margin-bottom: 4px;" src="/images/application/title_5.png" />西班牙语言学校合作</h3>
		    		<p class="line"></p>
		    	</div>
		    	<div class="content">
		    		<p class="text">
		    			我们与西班牙塞万提斯认证的语言学校及隶属各大学下得语言学校建立合作关系，可为学生申请全西班牙境内的语言学校。既面向国内要申请西班牙语言学校的学生，也面向身在西班牙想提高西语水平的留学生。 申请的就读期限可从一个月到一年不等。 课程包括课程包括短期提高班，DELE 预备班，西班牙语零基础班， 商务西语，西语教学，西班牙夏令营，冬令营，游学等。
					</p>
					<div class="row school-list">
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="http://madrid.universidadeuropea.es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="https://www.uneatlantico.es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="http://www.ucm.es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="https://www.uc3m.es/Home"></a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="cooperation_project">
			<div class="container">
				<div class="head">
		    		<h3 class="title"><img width="45" style="margin-right: 10px;margin-bottom: 4px;" src="/images/application/title_5.png" />西班牙大学项目独家合作</h3>
		    		<p class="line"></p>
		    	</div>
		    	<div class="content">
		    		<p class="text text-center">
		    			马德里欧洲大学以及西班牙优内西洋与国内大学项目交换项目：</br>
						3+1 本科项目交换生</br>
						2+2 本科项目交换生</br>
						3+1+1本科一年交换，官方硕士保录项目</br>
						2+2+1 本科两年交换硕士一年项目</br>
						3+1+1 三年专科，一年大学西班牙语培训，一年官方硕士项目
					</p>
					<div class="row project-list">
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="http://madrid.universidadeuropea.es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="https://www.uneatlantico.es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="http://www.ucm.es/"></a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="cooperation_project">
			<div class="container">
				<div class="head">
		    		<h3 class="title"><img width="45" style="margin-right: 10px;margin-bottom: 4px;" src="/images/application/title_5.png" />与西班牙大学合作项目</h3>
		    		<p class="line"></p>
		    	</div>
		    	<div class="content">
		    		<p class="text">
		    			西班牙鲲鹏国际教育咨询有限责任公司目前与30所西班牙私立或公立大学建立合作关系，并与2家西班牙私立大学建立独家合作关系，其目的是为了推广中国高校与西班牙大学建立学术互信，教师往来培训，以及互相建立实习基地。为西班牙学生和中国留学生建立实习平台和学术交流。
					</p>
					<div class="row company-list">
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="http://madrid.universidadeuropea.es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="https://www.uneatlantico.es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="http://www.ucm.es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="https://www.uc3m.es/Home"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="http://www.uah.es/es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="http://www.upm.es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="http://www.uab.cat/web/universitat-autonoma-de-barcelona-1345467954409.html"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="http://www.ub.edu/web/ub/ca/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="https://www.upf.edu/es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="https://www.ie.edu/IE/site/php/es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="http://www.iese.edu/es/index-default.html"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="https://www.upf.edu/es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="https://www.ie.edu/IE/site/php/es/"></a></div>
						<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item"><a target="_blank" href="http://www.iese.edu/es/index-default.html"></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
