<!doctype html>
<html>
 <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="网站描述" />
    <title>Kunpeng-留学申请</title>
    <!-- Load Normalize.css -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.min.css" >
    <link rel="stylesheet" type="text/css" href="/css/common.css" >
    <link rel="stylesheet" type="text/css" href="/css/contact.css" >
    <link rel="stylesheet" type="text/css" href="/css/swiper-3.4.2.min.css" >
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" >
</head>
<body>
    
    <%include nav%>
	<div id="wrapper">
		<div class="banner">
			<img src="/images/contact/banner.jpg?v=2" />
		</div>
		<div class="container-fluid about_us">
		    <div class="container company-wrapper">
				<div class="row">
					<div class="col-md-4 hidden-xs about-img"><img src="/images/contact/about.jpg" /></div>
					<div class="col-md-8 col-xs-12 about-desc">
						<h4 class="title">公司简介</h4>
						<p class="desc">
							西班牙鲲鹏国际教育咨询有限公司于 2013 年2月成立，自建立之初便以优质的服务得到广大在西留学生的认可。五年来，公司经过不断的发展壮大，现已形成集学生公寓，西班牙本科，硕士，博士院校申请，西班牙-中国大学交换项目合作，西班牙语等级DELE培训，西班牙语SIELE培训，等一系列便利于广大留学生于一体的综合性教育咨询公司。 总部位于西班牙首都马德里。
						</p>
					</div>
				</div>
			</div>
			<div class="container detail-wrapper">
				<div class="about-desc col-xs-12">
					<p>自2007年中华人民共和国政府与西班牙王国政府关于相互承认学历学位的协议，近年来，西班牙境内的中国留学生人数以每年20%的增幅呈爆炸式增长，十年间增长了近 10 倍。特别是高中生群体所占比例大幅度上升，留学人群呈现低龄化。在西班牙留学生的低龄化，使得身在国内的家长们十分担心孩子在外国的生活状态，能实时掌握孩子的一切动向是每一个家长最迫切的需求。西班牙鲲鹏国际教育咨询通过高效系统管理，处理学生留学期间发生的各种突发事件。</p>
				</div>
				<div class="hidden-xs about-img"></div>
			</div>
		</div>
		<div class="divider_box"></div>

		<div class="container-fluid jiazhijianshe">
	    	<div class="container">
		    	<div class="head">
		    		<h3 class="title"><img width="40" style="margin-right: 10px;margin-bottom: 6px;" src="/images/contact/title_1.jpg" /><%=lang == 'cn' ? '企业价值观建设' : '企业价值观建设'%></h3>
		    		<p class="line"></p>
		    	</div>
		    	<div class="lists">
		    		<div class="item">
		    			<h4>追求专业</h4>
		    			<p>不断增强工作技能，用认真的态度把每一项工作做到满意，不断赢得学生的尊重和家长的认同，为学生创造更好的未来。</p>
		    		</div>
		    		<div class="item">
		    			<h4>坚持创新</h4>
		    			<p>敢于摒弃固有思想和固有模式，勇于革新，不断寻求新方法、新产品、新思路，努力做到人无我有、人有我优、人优我变。</p>
		    		</div>
		    		<div class="item">
		    			<h4>耿直敢当</h4>
		    			<p>忠诚于公司及本职岗位，做人坦诚正直，做事果断敢当。勇于承担工作，敢于承担责任。</p>
		    		</div>
		    		<div class="item">
		    			<h4>积极求胜</h4>
		    			<p>认真对待每一件工作，积较寻求达成目标的方法，充分运用一切可用资源，坚定不移地推动自己和他人为取得成效而努力。</p>
		    		</div>
		    		<div class="item">
		    			<h4>用户至上、用心服务</h4>
		    			<p>我们坚持以客户为中心，快速响应客户需求持续为客户创造长期价值进而成就客户</p>
		    		</div>
		    	</div>
	    	</div>
		</div>
		<div class="container-fluid yuanjing">
	    	<div class="container">
		    	<div class="head">
		    		<h3 class="title"><img width="40" style="margin-right: 10px;margin-bottom: 6px;" src="/images/contact/title_2.jpg" /><%=lang == 'cn' ? '我们的愿景' : '我们的愿景'%></h3>
		    		<p class="line"></p>
		    	</div>
		    	<div class="lists">
		    		<div class="item">
		    			<img width="40" src="/images/contact/1.png">
		    			<h4>发展的方向</h4>
		    			<p>最受尊敬的西班牙教育企业</p>
		    		</div>
		    		<div class="item">
		    			<img width="40" src="/images/contact/2.png">
		    			<h4>业务的目标</h4>
		    			<p>通过提升企业地位与品牌形象，使员工具有高度的企业荣誉感和自豪感，赢得员工尊敬从而创造更多的价值。</p>
		    		</div>
		    		<div class="item">
		    			<img width="40" src="/images/contact/3.png">
		    			<h4>企业的理想</h4>
		    			<p>不断倾听和满足用户需求，引导并超越用户需求，赢得用户尊敬。</p>
		    		</div>
		    		<div class="item">
		    			<img width="40" src="/images/contact/4.png">
		    			<h4>我们的愿望</h4>
		    			<p>推动教育行业的健康发展，与合作伙伴共同成长，赢得行业尊敬。</p>
		    		</div>
		    	</div>
	    	</div>
		</div>
		<div class="container-fluid jiazhijianshe">
	    	<div class="container">
		    	<div class="head">
		    		<h3 class="title"><img width="40" style="margin-right: 10px;margin-bottom: 6px;" src="/images/contact/title_3.jpg" /><%=lang == 'cn' ? '我们的使命' : '我们的使命'%></h3>
		    		<p class="line"></p>
		    	</div>
		    	<div class="lists">
		    		<div class="item">
		    			<h4>差异化服务</h4>
		    			<p>关注不同地域、不同群体，并针对不同对象提供差异化的产品和服务。</p>
		    		</div>
		    		<div class="item">
		    			<h4>优质服务</h4>
		    			<p>通过优质服务提升学生品质。</p>
		    		</div>
		    		<div class="item">
		    			<h4>西班牙-中国大学校际合作</h4>
		    			<p>增加西班牙-中国之间的校际互访合作，为中西两国留学建立桥梁作用。</p>
		    		</div>
		    		<div class="item">
		    			<h4>企业创新I+D</h4>
		    			<p>励志引领国际教育咨询服务行业的创新与变革。</p>
		    		</div>
		    	</div>
	    	</div>
		</div>
		<div class="container-fluid address-wrapper">
			<div class="head">
		    	<h3 class="title"><img width="40" style="margin-right: 10px;margin-bottom: 6px;" src="/images/contact/title_4.jpg" /><%=lang == 'cn' ? '办公地点' : '办公地点'%></h3>
		    	<p class="line"></p>
		    </div>
		    <div class="container clearfix">
	    		<div class="item">
	    			<img class="img-responsive" src="/images/contact/address1.jpg" />
	    			<div class="detail">
	    				<p class="name">西班牙马德里办公室</p>
	    				<p class="address">CALLE GRAN VÍA 69 OFICINA 708-709，28013，MADRID，España</p>
	    				<p class="telephone">座机：+34 916 492 570s</p>
	    				<p class="email">邮箱：info@kunpeng.es</p>
	    			</div>
	    		</div>
	    		<div class="item">
	    			<img class="img-responsive" src="/images/contact/address2.jpg" />
	    			<div class="detail">
	    				<p class="name">坎塔布里亚科技园办公室</p>
	    				<p class="address">Isabel Torres街21号，桑坦德，邮编：39011</p>
	    				<p class="telephone">座机：+34 942 244 244 转5024</p>
	    				<p class="email">邮箱：zheng.ni@uneatlantico.es</p>
	    			</div>
	    		</div>
	    		<div class="item">
	    			<img class="img-responsive" src="/images/contact/address3.jpg" />
	    			<div class="detail">
	    				<p class="name">中国广东省广州市办公室</p>
	    				<p class="address">中国广东省广州市海珠区昌岗中路188号合生帝景国际A座2203</p>
	    				<p class="telephone">座机：+86 020-298 99 142</p>
	    				<p class="email">邮箱：insman@kunpeng.es</p>
	    			</div>
	    		</div>
		    </div>
		</div>
	</div>
	<!-- <div id="footer_nav">
		<p>Made by @sqing</p>
	</div> -->
	

</body>
</html>
