<!doctype html>
<html>
 <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="网站描述" />
    <title>Kunpeng-留学申请</title>
    <!-- Load Normalize.css -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.min.css" >
    <link rel="stylesheet" type="text/css" href="/css/common.css" >
    <link rel="stylesheet" type="text/css" href="/css/services.css" >
    <link rel="stylesheet" type="text/css" href="/css/swiper-3.4.2.min.css" >
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" >
</head>
<body>
    
    <%include nav%>
	<div id="wrapper">
		<div class="banner">
			<img src="/images/services/banner.jpg" />
		</div>
		<div class="student_insurance">
			<div class="line"></div>
			<div class="container">
				<div class="header">
					<h2><img width="45" style="margin-right: 10px;margin-bottom: 4px;" src="/images/services/title_1.png" />学生保险</h2>
					<p>目前西班牙必须要求全部学生使用全保保险， 目前我和 ASISA, SANITAS，ADESLAS有着非常好的合作关系，我们已经成为代理商，我们有保险出单系统可以在24小时之内出单，申请简单快速，可以最大程度保障学生在西留学生活的安全。</p>
				</div>
				<div class="step-wrapper">
					<h3><img src="/images/application/icon-commit.svg" /></h3>
					<h4>归国留学认证<br/><span class="small-title">(对于归国的留学生，我们依然尽全力提供方便)</span></h4>
					<div class="list">
						<div class="item">
							<span class="index">1</span>
							<div class="text">
								<span>申请和领取毕业证，成绩单</span>
							</div>
						</div>
						<div class="item">
							<span class="index">2</span>
							<div class="text">
								<span>办理西班牙外交部和西班牙教育认证</span>
							</div>
						</div>
						<div class="item">
							<span class="index">3</span>
							<div class="text">
								<span>留学归国证明</span>
							</div>
						</div>
						<div class="item">
							<span class="index">4</span>
							<div class="text">
								<span>中国驻西班牙大使馆认证</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="divider_box"></div>
		<div class="container-fluid common-wrapper all-wrapper">
	    	<div class="container">
		    	<div class="head">
		    		<h3 class="title"><img width="45" style="margin-right: 10px;margin-bottom: 4px;" src="/images/services/title_2.png" />课程辅导</h3>
		    		<p class="line"></p>
		    	</div>
		    	<div class="content">
		    		<p class="text">
		    			我们为在西留学生提供西班牙语DELE培训，西班牙高考加分班，大学本科专业课程辅导，研究生专业课程辅导。
					</p>
		    	</div>
	    	</div>
		</div>

		<div class="container-fluid common-wrapper">
	    	<div class="container">
		    	<div class="head">
		    		<h3 class="title"><img width="45" style="margin-right: 10px;margin-bottom: 4px;" src="/images/services/title_10.png" />DELE课程培训</h3>
		    		<!-- <p class="line"></p> -->
		    	</div>
		    	<div class="content">
		    		<p class="text">
		    			由塞万提斯认证的老师亲自授课，根据多年备考经验，教师将为学生进行DELE考试技巧培训并根据往年考试内容，为你聚焦、解决考试内容中的难点。<br/>
						DELE考试预备课程将提供紧凑的教学安排。你将在最短的时间内学习到最大量的考试内容。教学结合根据塞万提斯学院评估要求，我们将安排每周20小时DELE紧凑课程。实施小班授课，每班最多不超8人。我们的DELE考试预备课程开课时间，将紧密连接考试日期，确保你以最佳的状态参加考试并获得最好的成绩。
					</p>
		    	</div>
	    	</div>
		</div>
		<div class="container-fluid common-wrapper">
	    	<div class="container">
		    	<div class="head">
		    		<h3 class="title"><img width="45" style="margin-right: 10px;margin-bottom: 4px;" src="/images/services/title_11.png" />西班牙高考加分班</h3>
		    		<!-- <p class="line"></p> -->
		    	</div>
		    	<div class="content">
		    		<p class="text">
		    			西班牙于2010年教育改革,由高考总分10分改为14分。和中国不同的是西班牙每年举行两次高考（Selectividad或称为Prueba de Acceso a laUniversidad，时间分别为六月（Convocatoria Junio）和九月(Convocatoria Septiembre)。由于人口较少，学校名额大于学生数量，所以只要高考及格就一定可以读大学，可所谓是100%的升学率。大部分热门专业在六月份第一次录取时就会录满，九月份的考试是用来重考和补录的。<br/>
						西班牙高考分为统考（Fase General)满分10分和加试(Fase Específica)满分4分两个部分。所有高中应届毕业生只需参加统考并及格就能申请大学。如果分数不够理想专业，那么可以选择加试来提升总分。我们提供针对外国人高考的课程，老师均是西班牙各个大学教授，同时每节课配中国助教一名提供中文辅导。
					</p>
		    	</div>
	    	</div>
		</div>
		<div class="container-fluid common-wrapper">
	    	<div class="container">
		    	<div class="head">
		    		<h3 class="title"><img width="45" style="margin-right: 10px;margin-bottom: 4px;" src="/images/services/title_12.png" />国内500课时西班牙语和签证</h3>
		    		<!-- <p class="line"></p> -->
		    	</div>
		    	<div class="content">
		    		<p class="text">
		    			西班牙语的课程契合欧洲语言标准，并在此基础上细分为10个等级：A1.1; A1.2; A2.1; A2.2; B1.1; B1.2; B2.1; B2.2；C1; C2。面向西语爱好者、留学游学、商贸移民、海外旅行等不同情况设计对应难度、内容的课程，全面满足不同的需求。<br/>
						INSMAN有自己的教研团队，凭借多年的教学经验，参考《欧洲语言通用框架性标准》，采用科学、严谨的方式分级和编排，致力于使学员在合理的时间内从零基础学到精通。我们的教材在教学过程中运用由浅入深、图文并茂的方式，生动活泼的展示着西班牙的文化以及西班牙语的魅力。此外，我们也根据国人的学习习惯，针对不同等级编写了辅助练习册和词汇表，让学员更为自信的开始西班牙语学习之路！<br/>
						课时：一共510课时，为期四个月的课程，每天6课时，其中包含3小时西班牙语课程，2小时西班牙文化课程，1小时课外活动（每周一至周五09:30-17:00）。

					</p>
		    	</div>
	    	</div>
		</div>
	</div>
	<!-- <div id="footer_nav">
		<p>Made by @sqing</p>
	</div> -->
	

</body>
</html>
